.scrolltop{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    color: var(--violet);
}